# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
[Bb]in
[Ll]og*/
[Dd]ebug*/
[Rr]elease*/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
